.mobile-menu-bs {
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #ddd;
  z-index: 100;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
}
.mobile-menu-bs ul,
.mobile-menu-bs ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu-bs ul li {
  float: left;
  height: 60px;
  display: block;
  color: #9a9b9c;
  overflow: hidden;
  position: relative;
}
.mobile-menu-bs ul li.active .h1,
.mobile-menu-bs ul li.active .icon,
.mobile-menu-bs ul li .page-scroll-pink:hover .h1,
.mobile-menu-bs ul li .page-scroll-pink:hover .icon {
  color: #e75b8d;
}
.mobile-menu-bs ul li.active:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid #e75b8d;
}
.mobile-menu-bs ul li.active.border-bottom-info:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid #00c0ef;
}
.mobile-menu-bs ul li.active.border-bottom-info .h1,
.mobile-menu-bs ul li.active.border-bottom-info .icon,
.mobile-menu-bs ul li .page-scroll-info:hover .h1,
.mobile-menu-bs ul li .page-scroll-info:hover .icon {
  color: #00c0ef;
}
.mobile-menu-bs ul li.active.border-bottom-success:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid #1dc9b7;
}
.mobile-menu-bs ul li.active.border-bottom-success .h1,
.mobile-menu-bs ul li.active.border-bottom-success .icon,
.mobile-menu-bs ul li .page-scroll-success:hover .h1,
.mobile-menu-bs ul li .page-scroll-success:hover .icon {
  color: #1dc9b7;
}
.mobile-menu-bs ul li.active.border-bottom-warning:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid #f39c12;
}
.mobile-menu-bs ul li.active.border-bottom-warning .h1,
.mobile-menu-bs ul li.active.border-bottom-warning .icon,
.mobile-menu-bs ul li .page-scroll-warning:hover .h1,
.mobile-menu-bs ul li .page-scroll-warning:hover .icon {
  color: #f39c12;
}
.mobile-menu-bs ul li .page-scroll-danger:focus .h1,
.mobile-menu-bs ul li .page-scroll-danger:focus .icon,
.mobile-menu-bs ul li .page-scroll-danger:hover .h1,
.mobile-menu-bs ul li .page-scroll-danger:hover .icon {
  color: #dd4b39;
}
.mobile-menu-bs ul li .icon {
  padding-top: 3px;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
.mobile-menu-bs ul li .icon i.icon-more {
  font-size: 15px;
}
.mobile-menu-bs ul li .h1 {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #9a9b9c;
}
.kt-badge.kt-badge--warning {
  color: #fff !important;
}
.logo-menu {
  width: 80%;
  padding-bottom: 35px;
}
li.menu-logo .content-menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-pink {
  color: #eee;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  .card-icon-border-large {
    width: 70px;
    height: 70px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .card-icon-border-large {
    width: 70px;
    height: 70px;
    position: fixed;
  }
}
.menu-item a {
  color: #9a9b9c;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
/* .card-header {
  padding: 8px 16px;
}
.card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
}
.card-title-date,
.card-title-time {
  display: inline-block;
  color: #2786fb !important;
  font-weight: 500;
}
.card-footer .btn-success {
  font-size: 12px;
  border-radius: 56px;
} */
